version: '3.8'

services:
  backend:
    build: ./bigclasses_backend/backend
    ports:
      - "8000:8000"
    volumes:
      - ./bigclasses_backend/backend:/app
    command: python manage.py runserver 0.0.0.0:8000

  frontend:
    build: ./bigclasses.ai
    ports:
      - "8080:80"
    depends_on:
      - backend